h1 {
  color: #aae7fa;
}

h2 {
  color: #f2d2fa;
}

p {
  color: white;
}

li {
  color: white;
}

#my-portrait {
    width: 250px;
}

#intro {
  background-color: #F8B1D8;
  width: 900px;
  min-height: 350px;
  padding: 80px;
  margin: auto;
  margin-top: 50px;
  border: dashed 10px  #aae7fa;
  font-size: 20px;
}

#labs {
  background-color: #F8B1D8;
  width: 900px;
  min-height: 350px;
  padding: 80px;
  margin: auto;
  margin-top: 50px;
  border: dashed 10px  #aae7fa;
  font-size: 20px;
}
