body {
  background-color: #730623;
}

h1 {
  color: #F2C84B;
  font-family: "Lucida Handwriting";
}

h2 {
  color:  #BF7B3F;
  font-family: "Lucida Handwriting";
}

div {
  background-color: #260108;
  width: 1250px;
  min-height: 100px;
  padding: 80px;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  color: #FCF0E0;
  font-family: "Garamond";
}

img {
  width: 1000px;
}

a:link {
  color: #F2C84B;
}

/* visited link */
a:visited {
  color: #BF7B3F;
}

/* selected link */
a:active {
  color: white;
}

#title_section {
  background-color: #260108;
  width: 1250px;
  min-height: 100px;
  padding: 80px;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  color: #FCF0E0;
  font-family: "Garamond";
  border: double 30px  #BF7B3F;
}
.output {
  background-color: #260108;
  width: 625px;
  min-height: 100px;
  padding: 80px;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  color: #FCF0E0;
  font-family: "Garamond";
  border: double 30px  #BF7B3F;
}

.linkbox {
  background-color: #260108;
  width: 1250px;
  min-height: 5px;
  padding: 80px;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  color: #FCF0E0;
  font-family: "Garamond";
  border: double 30px  #BF7B3F;
}
